*, *::before, *::after {
    box-sizing: border-box;
}

/* Base reset */

* {
    margin: 0;
    padding: 0;
}

/* Base styles */

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: white;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 50px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 500px;
}

/* Nav */

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #868da0;
    z-index: 1;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10px;
    padding: 10px;
}

.nav-list a {
    margin-left: 20px;
    color: white;
}

.nav-list a:hover {
    color: #bbbec5;
}

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    line-height: 1.75;
    text-align: center;
}

.welcome-section p {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
    color: #a4691d;
    line-height: normal;
    margin: 5px;
}

/* Welcome animation */

@keyframes h1animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes span1animation {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes span2animation {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes span3animation {
    0% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome-section h1 {
    animation: h1animation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.intro-span1 {
    animation: span1animation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.intro-span2 {
    animation: span2animation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #b39e82;;
}

.intro-span3 {
    animation: span3animation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* More info section */

.more-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: #585f71;
    line-height: 1.25;
}

.more-info-section p {
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
    color: #ffffff99;
    margin: 38px;
}

.p-bold {
    color: white;
    font-size: 38px;
}

/* Art portfolio section */

.art-portfolio-section {
    text-align: center;
    padding: 60px 2px;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.art-portfolio-section-header {
    max-width: 90vw;
    margin: 0 auto 60px auto;
    padding-bottom: 22px;
    border-bottom: 2px solid white;
}

.art-portfolio-section-header span {
    color: #a4691d;
}

.art-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 500px));
    grid-gap: 30px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px;
}

.art-project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    transition: 0.3s;
    overflow: hidden;
    background-color: black;
}

.art-project-img img {
    width: 100%;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.art-project-img img:hover {
    opacity: 0.7;
}

.art-project-img p {
    color: white;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* HTML5/CSS3 section */

.projects-section {
    text-align: center;
    padding: 60px 2px;
    background-color: #585f71;
}

.projects-section-header {
    max-width: 90vw;
    margin: 0 auto 60px auto;
    padding-bottom: 22px;
    border-bottom: 2px solid white;
}

.projects-section-header span {
    color: #a4691d;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 500px));
    grid-gap: 60px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px;
}

.project-link img {
    border-radius: 7px;
    width: 100%;
}

.project-link p {
    text-decoration: none;
    color: white;
    margin-top: 6px;

}

desc{

color: #abaeb9;
font-size: 13px;
margin-top: 3px;

}

/* Javascript section */

.js-projects-section {
    text-align: center;
    padding: 60px 2px;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #585f71;
    line-height: 1.75;
}

.contact-section p a {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
    color: #a4691d;
}

/* Responsive CSS */

@media (max-width: 575px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 30px;
    }
    .nav {
        justify-content: center;
    }
    .welcome-section p {
        font-size: 24px;
        margin: -3px 11px;
    }
    .more-info-section {
        height: 45vh;
    }
    .more-info-section p {
        font-size: 17px;
        font-weight: 100;
        font-style: italic;
        color: #ffffff99;
        margin: 38px;
    }
    .p-bold {
        color: white;
        font-size: 23px;
    }
    .art-portfolio-section-header {
        margin: 0 auto 0 auto;
    }
    .art-project-img {
        height: 100px;
    }
    .projects-section-header {
        max-width: 270px;
        margin: 0 auto 10px auto;
        padding-bottom: 5px;
        border-bottom: 2px solid white;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 6rem;
        padding: 20px;
    }
}

@media (max-width: 1115px) {
    .art-projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        grid-gap: 30px;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 6rem;
        padding: 60px;
    }
}